body {
  margin: 0;
  padding: 0;
  background-color: rgba(175, 11, 11, 0.6);
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}



header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

header h1 {
  text-align: center;
  font-size: 40px;
  line-height: 1.9;
  margin: 0 0 0 -40px;
  font-weight: bold;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: rgba(252, 255, 247, 0.94);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}


section {
  display: block;
  margin: 0 0 20px 0;
}







